global:
  scrape_interval: 5s

scrape_configs:
  - job_name: app_nodes
    metrics_path: /metrics
    static_configs:
      - targets:
          - app1:8000
          - app2:8000
          - app3:8000

  - job_name: clickhouse_exporter
    static_configs:
      - targets:
          - clickhouse-exporter:9116

  - job_name: ingestion_workers
    metrics_path: /metrics
    static_configs:
      - targets:
          - ingestion-1:9200
          - ingestion-2:9200
          - ingestion-3:9200
